# Global .gitignore
# =================

# Python Environments
.env
.venv/
.venv

# VS Code Settings
.vscode/

# Project Directories to Ignore
logs/
archive/
research/
origin/

# Power BI & Figma Files
*.pbix
*.pbit
*.fig

# Editor/Tooling Files
cspell.json
todo.md

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# Documentation
/site/

# Type Checking
.mypy_cache/
.dmypy.json
dmypy.json

# System/OS Files
.DS_Store
Thumbs.db

# Miscellaneous
# Add any additional ignores below